/*
  SNOWYWORKS.COM CSS
  Drew D Lenhart
  08/02/2020
*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);

body {
  background-color: #222;
  font-family: 'roboto condensed';
  font-size: 16px !important;
}

/*CUSTOM STYLES-------------*/
a.link {
  color: #405171;
}

.bg-color {
  background-color: #405171;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.text-center {
  text-align: center;
}

.bg-img {
  background-color: #eee;
}

.logo {
  float: left;
}

.borderTop {
  border-top: 2px solid #222;
}

.borderBottom {
  border-bottom: 3px solid #222;
}

.jum-back {
  background-color: #405171;
}

.label-primary {
  background-color: #405171 !important;
}

.compImg {
  /* responsive images */
  max-width: 100%
}

.shadowImg {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-white {
  color: white;
  padding-bottom: 20px;
}

.button-box {
  margin-top: 10px;
  float: none;
  margin: 0 auto;
}

.justify {
  text-align: justify !important;
  text-justify: inter-word !important;
}

.snowLabel {
  background-color: #101319 !important;
}

.footerBak {
  background-color: #eee;
}

.centerMe {
  text-align: center;
}

.logoF {
  float: left;
  margin-right: 4%;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #34435E; /* Blue */
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
  text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*END CUSTOM STYLES------------*/

/*COLUMN ADJUSTMENTS-----------*/
.col-md-4 {
  /*margin-bottom: 5%;*/
}

.col-xs-6 {
  margin-bottom: 20px !important;
}

/*END COLUMN ADJUSTMENTS-------*/

/*NAVBAR ALTERATIONS-----------*/
.navbar {
  margin-bottom: 0;
  border-radius: 0px !important;
}

.navbar-inverse {
  border-color: #222;
}

.navbar-inverse .navbar-nav>li>a {
  color: white !important;
}

.navbar-inverse .navbar-nav>li>hover {
  background-color: azure !important;
}

.navbar-default {
  background-color: #eee !important;
}

.navbar-default .navbar-nav>li>a {
  color: black !important;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #337ab7 !important;
}

.navbar-default .navbar-brand {
  color: black !important;
}

.navbar-default .navbar-brand:hover {
  color: #337ab7 !important;
}

.navbar .navbar-brand {
  padding-top: 5px;
}

.navbar .navbar-brand img {
  height: 40px;
  width: 40px;
}

/*END NAVBAR ALTERATIONS-----*/

/*PANEL JUMBOTRON------------*/
.jumbotron {
  margin-bottom: 0;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.panel-primary {
  border: 1px solid #222;
}

.panel-primary>.panel-heading {
  background-color: #222;
  border: 1px solid #222;
  color: #ffffff;
}

/*END PANEL JUMBOTRON--------*/

/*MODAL ADJUSTMENTS----------*/
* {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog {
  margin: 0 auto;
  height: 100%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid black;
  border-radius: 0;
  box-shadow: none;
}

.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #eee;
  border-bottom: 3px solid black;
}

.modal-title {
  font-weight: 300;
  font-size: 2em;
  color: black;
  line-height: 30px;
}

.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}

.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
}

.btn {
  height: 40px;
  border-radius: 0;
}

.modal-backdrop.in {
	opacity: 0.9;
}

/*END MODAL ADJUSTMENTS------*/

/*BUTTON ADJUSTMENTS---------*/
.btn-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -100px;
  width: 200px;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active {
  font-weight: 300;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  background: #eee;
  border: 1px solid #000000;
  color: black;
  border-bottom: 3px solid #34435E;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.btn-primary:hover {
  background-color: #34435E;
  border: 1px solid black;
  color: white;
  border-bottom: 3px solid black;
}

.btn-danger,
.btn-danger:focus,
.btn-primary:active {
  font-weight: 300;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  background: #D04E22;
  border: 1px solid #000000;
  color: white;
  border-bottom: 3px solid #34435E;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.btn-danger:hover {
  background-color: #D3AB9E;
  border: 1px solid #D04E22;
  color: black;
  border-bottom: 3px solid black;
}

.btn-spacing {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

/*END BUTTON ADJUSTMENTS------*/

/*IMAGE HOVER STYLE---------------*/
.imgBorder {
  display: block;
  width: 100%;
  border: 4px solid black;
  border-radius: 9px;
}

.image_container {
  position: relative;
  margin-bottom: 10px !important;
}

.image_overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
border: 4px solid #858E95;
border-radius: 9px;
background-color: #34435E !important;
}

.image_container:hover .image_overlay {
opacity: 1;
}

.image_text {
color: white;
font-size: 18px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}

/*MEDIA QUERIES---------------*/
@media (max-width: 600px) {
  .col-xs-6 {
    width: 100% !important;
  }
}

/* Lets make the modal scale to the container*/

@media (min-width: 992px) {
  .modal-dialog {
    width: 970px;
  }
}

@media (max-width: 768px) {
  #digitalBox {
    display: none;
  }
}
