/*snowytech.com CSS - Drew Lenhart - 12/02/15  */

body{
    background-color: #222;

}
a.link{
    color: #405171;
}
.bg-color{
    background-color: #405171;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.bg-img{
    background-color: #eee;
}
.logo{
    float:left;
}
.col-md-4{
    margin-bottom: 5%;
}
.jum-back{
    background-color: #405171;
  }
.btn-primary{
    background-color: #eee;
    border: 1px solid #000000;
    color:black;
    margin-bottom: 5px !important;
}
.btn-primary:hover{
    background-color: #34435E;
    border: 1px solid #eee;
}
.btn-danger{
    margin-bottom: 5px !important;
}
.label-primary {
    background-color: #405171 !important;
}

.compImg {
    max-width:100%
}

.text-white{
    color: white;
    padding-bottom: 20px;
}

.button-box{
    margin-top: 10px;

    float: none;
    margin: 0 auto;

}

.justify{
	text-align: justify !important;
  text-justify: inter-word !important;
}

/*Nav Bar*/
.navbar {
    margin-bottom:0;
  }
.navbar-inverse{
    border-color: #222;
}
.navbar-inverse .navbar-nav>li>a{
    color: white !important;
}

.navbar-inverse .navbar-nav>li>hover{
   background-color: azure !important;
}
/*.navbar-nav li a {
    line-height: 45px;
}
End Nav Bar*/

.jumbotron {
    margin-bottom:0;

    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.borderTop{
    border-top: 2px solid #222;
}
.borderBottom{
    border-bottom: 3px solid #222;
}
.panel-primary{
    border: 1px solid #222;
}
.panel-primary>.panel-heading{
    background-color: #222;
    border: 1px solid #222;
    color: #ffffff;
}
/*--footer--*/
.footerBak{
    background-color: #eee;
}
.centerMe{
    text-align:center;
}
.logoF{
    float: left;
    margin-right: 4%;
}

/*Media Queries*/

.col-xs-6{
    margin-bottom: 20px !important;
}

@media (max-width: 600px) {
.col-xs-6{
    width: 100% !important;
}
}
