<!--
Author: Drew D. Lenhart
Author URI: https://snowyworks.com
Project: snowyworks.github.io
ProjectURL: https://github.com/snowyworks/snowyworks.github.io
Date: June 2017 - updated 09-17-2025
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="SnowyWorks" />
  <meta name="author" content="Drew D. Lenhart" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <title>
    SnowyWorks - Publisher of Comic Books/Graphic Novels - Science Fiction and
    more!
  </title>
  <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <script src="/vendor/htmx.min.js"></script>
  <script src="/vendor/client-side-templates.js"></script>
  <script src="/vendor/nunjucks.min.js"></script>
  <link href="/css/snowtemplate.css?v=22" rel="stylesheet" type="text/css" />
  <link type="text/css" rel="stylesheet" href="vendor/fontawesome/css/all.min.css" />
</head>

<body>
  <div class="container">
    <div id="navbar"></div>
    <nav class="navbar navbar-default borderBottom">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">
            <img src="images/swIcon3.png" alt="SnowyWorks" class="" />
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class=""><a href="#comics">COMICS</a></li>
            <li class=""><a href="/games">GAMES</a></li>
            <li class=""><a href="#news">NEWS</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">BUY DIGITAL<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="https://www.amazon.com/s?k=snowyworks&i=digital-text&ref=nb_sb_noss">Amazon</a>
                </li>
                <li>
                  <a href="https://www.comichaus.com/publishers/snowyworks/903.htm">Comichaus</a>
                </li>
                <li>
                  <a href="https://www.drivethrucomics.com/browse/pub/15755/SnowyWorks">Drive Thru Comics</a>
                </li>
                <li>
                  <a href="https://play.google.com/store/books/author?id=Drew+D.+Lenhart">Google Play</a>
                </li>
                <li>
                  <a href="https://www.kobo.com/us/en/search?query=Drew+D.+Lenhart">Kobo</a>
                </li>
                <li>
                  <a href="https://globalcomix.com/a/snowyworks">GlobalComix</a>
                </li>
                <li><a href="https://gumroad.com/snowyworks">Gumroad</a></li>
                <li>
                  <a href="https://www.spinwhizcomics.com/site/landingpage/browse/#f_Publisher=SnowyWorks">Spinwhiz
                    Comics</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://www.instagram.com/drew.d.lenhart/" class="icons" target="_blank"><i
                  class="fab fa-instagram faz"></i></a>
            </li>
            <!-- <li>
                <a
                  href="https://twitter.com/LenhartDrew"
                  class="icons"
                  target="_blank"
                  ><i class="fab fa-twitter faz"></i
                ></a>
              </li> -->
            <li>
              <a href="https://www.facebook.com/drew.lenhart.35/" class="icons" target="_blank"><i
                  class="fab fa-facebook faz"></i></a>
            </li>
            <li>
              <a href="#contact"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                CONTACT</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <div class="bg-color" style="background-image: url(images/testback2.png)">
      <div class="row">
        <div class="col-md-12" style="">
          <center>
            <img src="images/home_image_sw_4.png" alt="Awesome Comics!" class="compImg centerMe padd-top" />
          </center>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end jumbotron -->

    <div class="jumbotron jumbotron-override bg-img">
      <div class="container">
        <div class="row">
          <center>
            <h3 class="">GET OUR COMICS ON THESE PLATFORMS:</h3>
          </center>
          <center>
            <a href="https://www.amazon.com/s?k=snowyworks&i=digital-text&ref=nb_sb_noss" target="_blank">
              <img src="images/amazon-kindle-icon.png" width="64" height="64" title="Amazon Kindle"
                class="compImg centerMe" />
            </a>
            <a href="https://play.google.com/store/books/author?id=Drew+D.+Lenhart" target="_blank">
              <img src="images/google-play-black-icon.png" width="64" height="64" title="Google Play"
                class="compImg centerMe" />
            </a>
            <a href="https://www.kobo.com/us/en/search?query=Drew+D.+Lenhart" target="_blank">
              <img src="images/kobo.png" width="64" height="64" title="Kobo" class="compImg centerMe" />
            </a>
            <a href="https://globalcomix.com/a/snowyworks" target="_blank">
              <img src="images/global_comix_logo_2.png" width="64" height="64" title="GlobalComix"
                class="compImg centerMe" />
            </a>
            <a href="https://www.drivethrucomics.com/browse/pub/15755/SnowyWorks" target="_blank">
              <img src="images/drivethru-icon.png" width="64" height="64" title="DriveThruComics"
                class="compImg centerMe" />
            </a>
            <a href="https://gumroad.com/snowyworks" target="_blank">
              <img src="images/gumroad.png" width="64" height="64" title="Gumroad" class="compImg centerMe" />
            </a>
            <a href="https://www.comichaus.com/publishers/snowyworks/903.htm" target="_blank">
              <img src="images/comic-haus-icon.png" width="64" height="64" title="Comichaus" class="compImg centerMe" />
            </a>
            <a href="https://www.spinwhizcomics.com/site/landingpage/browse/#f_Publisher=SnowyWorks" target="_blank">
              <img src="images/spin-logo.png" width="64" height="64" title="SpinWhiz Comics" class="compImg centerMe" />
            </a><br />
            <!--physical buttons-->
            <a href="https://www.amazon.com/s?i=stripbooks&rh=p_30%3Asnowyworks" target="_blank">
              <img src="images/amazon-button.png" title="Amazon" class="compImg centerMe" />
            </a>

            <a href="https://www.barnesandnoble.com/s/%22Snowyworks%22?Ntk=Publisher&Ns=P_Sales_Rank&Ntx=mode+matchall"
              target="_blank">
              <img src="images/bandn-button.png" title="B&N" class="compImg centerMe" />
            </a>

            <a href="https://bookshop.org/contributors/drew-d-lenhart" target="_blank">
              <img src="images/indie-button.png" title="Indiebound" class="compImg centerMe" />
            </a>
          </center>
        </div>
      </div>
    </div>

    <div id="" class="jumbotron jumbotron-override bg-img">
      <div class="container">
        <div class="row">
          <!-- Advertisement -->
          <!-- <div class="panel panel-primary space_bg" style="background-image:url(images/testback2.png)">
					<div class="panel-body">
						<div style="margin: 0 auto !important">
							<div class="panel-body">
								<div class="row">
									<center>
										<a href="https://thercade.com/products/the-monsters-cleanup-guy" target="_blank">
											<img src="images/monsters_ad.png" class="compImg" />
										</a>
									</center>
								</div>
							</div>
						</div>
					</div>
				</div> -->

          <!--big buttons-->
          <div class="panel panel-primary">
            <div class="panel-body">
              <div style="margin: 0 auto !important">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-4" style="">
                      <div class="image_container">
                        <a href="https://globalcomix.com/c/caspian-porter/chapters/en/1/1" target="_blank">
                          <img src="images/caspian_porter_button.png" alt="" class="imgBorder compImg centerMe" />
                          <div class="image_overlay">
                            <div class="image_text">
                              CASPIAN PORTER<br />READ ISSUE #0 FREE!
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="image_container">
                        <a href="https://globalcomix.com/c/future-sci-fi-tales-spatial-void/chapters/en/1/1"
                          target="_blank">
                          <img src="images/homepage_button_fscifi-6.png" alt="" class="imgBorder compImg centerMe" />
                          <div class="image_overlay">
                            <div class="image_text">
                              FUTURE SCI-FI TALES<br />SPATIAL VOID
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-md-4" style="">
                      <div class="image_container">
                        <a href="https://globalcomix.com/read/3637c62f-0710-4a79-ba16-1d1d818ef8cd/1" target="_blank">
                          <img src="images/tales_vol1_button.png" alt="" class="imgBorder compImg centerMe" />
                          <div class="image_overlay">
                            <div class="image_text">
                              TALES FROM THE DISPATCH 1<br />READ NOW!
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-md-4" style="">
                      <div class="image_container">
                        <a href="https://globalcomix.com/read/299a89c4-505c-415d-9c26-40af8bc4ad1a/1" target="_blank">
                          <img src="images/tales_vol2_button.png" alt="" class="imgBorder compImg centerMe" />
                          <div class="image_overlay">
                            <div class="image_text">
                              TALES FROM THE DISPATCH 2<br />READ NOW!
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-md-4" style="">
                      <div class="image_container">
                        <a href="https://globalcomix.com/read/fbf65d0e-46b3-4e96-b45d-b1ce520db8ee/1" target="_blank">
                          <img src="images/homepage_button_horror.png" alt="" class="imgBorder compImg centerMe" />
                          <div class="image_overlay">
                            <div class="image_text">
                              HORROR ANTHOLOGY!<br />READ NOW!
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-md-4" style="">
                      <div class="image_container">
                        <a href="https://globalcomix.com/read/fc2a3c7b-e53e-456d-8904-e0d5cfbfb81d/1" target="_blank">
                          <img src="images/homepage_button_cas2.png" alt="" class="imgBorder compImg centerMe" />
                          <div class="image_overlay">
                            <div class="image_text">
                              CASPIAN PORTER #2<br />READ NOW!
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-md-4" style="">
                      <div class="image_container">
                        <a href="/preview/monsters_cleanup_guy_v2.pdf" target="_blank">
                          <img src="images/homepage_button_monsters.png" alt="" class="imgBorder compImg centerMe" />
                          <div class="image_overlay">
                            <div class="image_text">
                              THE MONSTER'S CLEANUP GUY<br />READ NOW!
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-md-4" style="">
                      <div class="image_container">
                        <a href="https://globalcomix.com/read/22e3286a-5997-4847-8d0a-b2f0b8bb51f8/1" target="_blank">
                          <img src="images/homepage_button_future.png" alt="" class="imgBorder compImg centerMe" />
                          <div class="image_overlay">
                            <div class="image_text">
                              FUTURE SCI-FI TALES 2020<br />READ NOW!
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="image_container">
                        <a href="https://globalcomix.com/read/5d2cb7a4-6408-49b8-9d82-39040889c118/1" target="_blank">
                          <img src="images/homepage_button_gritt.png" alt="" class="imgBorder compImg centerMe" />
                          <div class="image_overlay">
                            <div class="image_text">
                              GRITT GRIMSTONE<br />READ NOW!
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end body-->
              </div>
            </div>
          </div>
          <!--end big buttons-->

          <!--Comics Section-->
          <div id="comics" class="panel panel-primary">
            <div class="panel-body">
              <div style="margin: 0 auto !important">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12" style="">
                      <h2>COMICS/GRAPHIC NOVELS CATALOG</h2>
                      <br />
                    </div>
                  </div>
                  <div hx-ext="client-side-templates">
                    <div hx-get="data/comic-data.json" hx-swap="afterend" hx-trigger="revealed"
                      nunjucks-template="blogs-template">
                      <template id="blogs-template">
                        {% for comic in results %}
                        <div class="col-md-3 text-center">
                          <img src="images/{{ comic.image }}" alt="" class="compImg shadowImg" /><br />
                          <button class="btn btn-primary btn-spacing open-comicDialog" data-title="{{ comic.title }}"
                            data-id="{{ comic.id }}" data-toggle="modal" data-target="#fsModal">
                            {{ comic.label }}
                          </button>
                        </div>
                        {% endfor %}

                        <!-- load more -->
                        <center>
                          {% if next %}
                          <button class="btn btn-primary btn-lg" hx-get="{{ next }}" hx-swap="outerHTML"
                            hx-trigger="click" nunjucks-template="blogs-template">
                            Load More...
                          </button>
                          {% endif %}
                        </center>
                      </template>
                    </div>
                  </div>
                  <!-- original implementation
									 <div class="row" id="comic-results">
										<center>
											<div id="loader" class="loader"></div>
										</center>
									</div> -->
                </div>
                <!--end panel body-->
              </div>
            </div>
          </div>
          <!--end comics section-->

          <!--news-->
          <div id="news" class="panel panel-primary">
            <div class="panel-body">
              <div style="margin: 0 auto !important">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-2" style="">
                      <h3>
                        <span class="label label-default snowLabel">NEWS!</span>
                      </h3>
                    </div>
                    <div class="col-md-10" style="">
                      <strong>December 04, 2025</strong><br />
                      INFO! <strong>New releases!</strong><br />
                      SnowyWorks is rounding out 2025 for new remasterd collections, (
                      <a href="https://www.amazon.com/Fire-Fury-Stones-Drew-Lenhart-ebook/dp/B0G4HPDTN1"
                        target="_blank">Fire, Fury & Stones</a> ) along with
                      a new black and white collection of classic SnowyWorks stories (
                      <a href="https://www.amazon.com/Tales-Works-Drew-D-Lenhart/dp/B0G4B7CM1Y" target="_blank">Tales
                        from the Works</a> ).
                    </div>
                  </div>
                  <br /><br />
                  <div class="row">
                    <div class="col-md-2" style="">
                      <h3>
                        <span class="label label-default snowLabel">NEWS!</span>
                      </h3>
                    </div>
                    <div class="col-md-10" style="">
                      <strong>September 19, 2025</strong><br />
                      INFO! <strong>Pre-order for Never by Night Volume 2!</strong><br />
                      SnowyWorks is proudly publishing this brand new anthology by legendary author, Jonathan Chance,
                      Volume 2 releases on October 1, 2025, order NOW,
                      <a href="https://www.amazon.com/Never-Night-Disturbing-Passages-Into/dp/1088137423"
                        target="_blank">Click here.</a>
                    </div>
                  </div>
                  <br /><br />
                  <div class="row">
                    <div class="col-md-2" style="">
                      <h3>
                        <span class="label label-default snowLabel">NEWS!</span>
                      </h3>
                    </div>
                    <div class="col-md-10" style="">
                      <strong>September 22, 2024</strong><br />
                      INFO! <strong>Pre-order for Never by Night!</strong><br />
                      SnowyWorks is proudly publishing this brand new anthology by legendary author, Jonathan Chance,
                      <a href="https://www.amazon.com/Never-Night-Disturbing-Passages-Into/dp/B0DH8KTJ5K"
                        target="_blank">Click here.</a>
                    </div>
                  </div>
                  <br /><br />
                  <div class="row">
                    <div class="col-md-2" style="">
                      <h3>
                        <span class="label label-default snowLabel">NEWS!</span>
                      </h3>
                    </div>
                    <div class="col-md-10" style="">
                      <strong>August 07, 2024</strong><br />
                      INFO! <strong>Pre-order for The Art of Dell Barras</strong><br />
                      SnowyWorks is proudly publishing this brand new artbook by legendary artist, Dell Barras,
                      <a href="https://www.amazon.com/Art-Dell-Barras/dp/B0DBJCZ2KB" target="_blank">Click here.</a>
                    </div>
                  </div>
                  <br /><br />
                  <div class="row">
                    <div class="col-md-2" style="">
                      <h3>
                        <span class="label label-default snowLabel">NEWS!</span>
                      </h3>
                    </div>
                    <div class="col-md-10" style="">
                      <strong>February 03, 2023</strong><br />
                      INFO! <strong>Sign up for our newsletter!</strong><br />
                      SnowyWorks has multiple projects in the works for 2024,
                      sign up for our newsletter to keep up to date,
                      <a href="https://sendfox.com/snowyworks" target="_blank">Click here.</a>
                    </div>
                  </div>
                  <br /><br />

                  <div class="row">
                    <div class="col-md-2" style="">
                      <h3>
                        <span class="label label-default snowLabel">NEWS!</span>
                      </h3>
                    </div>
                    <div class="col-md-10" style="">
                      <strong>September 17, 2023</strong><br />
                      INFO!
                      <strong>The Monster's Cleanup Guy Volume 1 OPEN for pre
                        orders!</strong><br />
                      Collecting issues 1 & 2 of the monster book series,
                      available for pre orders NOW!
                      <a href="https://thercade.com/products/the-monsters-cleanup-guy" target="_blank">Click here.</a>
                    </div>
                  </div>
                  <br />
                </div>
                <!-- end body-->
              </div>
            </div>
          </div>
          <!--end news-->

        </div>
      </div>
    </div>
    <!--End comics row-->

    <!--Another Section -->
    <div id="submissions" class="jumbotron jum-back" style="background-image: url(images/testback2.png)">
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="row">
            <center>
              <img src="images/the_works.png" class="compImg" alt="" width="450" height="105" /><br /><br />
              <a href="https://sendfox.com/snowyworks" class="btn btn-primary btn-lg">NEWSLETTER SIGN UP HERE!</a>

              <br /><br />Get the latest info on SnowyWorks
              publications, upcoming projects, artwork, campaigns, and
              more!
            </center>
          </div>
        </div>
      </div>
    </div>
    <!-- end jumbotron -->

    <div id="contact" class="jumbotron bg-img">
      <div class="container">
        <div class="row">
          <h2>CONTACT</h2>
          <br />
          <form method="POST" action="https://formspree.io/snowyworks2018@gmail.com">
            <input type="hidden" name="_subject" value="Contact request from SNOWYWORKS" />

            <label for="email"><b>*E-Mail: </b></label><br />
            <input type="text" class="form-control" placeholder="Your Email Address" id="email" name="_replyto"
              required />
            <br />

            <label for="message"><b>*Message: </b></label><br />
            <textarea class="form-control" rows="3" name="message" id="message" placeholder="Leave a message!"
              required></textarea>
            <br /><br />
            <input name="save" type="submit" id="submit" value="SEND" class="btn btn-primary btn-lg" />
            <input type="reset" id="cancel" name="reset" value="RESET" class="btn btn-danger btn-lg" />
          </form>
        </div>
      </div>
    </div>

    <!--About Section -->
    <div id="about" class="jumbotron jum-back" style="background-image: url(images/testback2.png)">
      <div class="panel panel-primary">
        <div class="panel-body">
          <h2>ABOUT</h2>
          <span style="font-size: 16px !important">
            <strong>SnowyWorks</strong> was founded in 2017 by Drew D. Lenhart
            and is based in New Haven, Indiana. The company began with its
            core publication, Future Sci-Fi Tales, a science fiction anthology
            series featuring stories from independent comic creators. Since
            then, the company has sky rocketed with new titles, including
            one-shots such as De-Aged and Calzer's Clock, Bitter Awakening, as
            well as new ongoing series Caspian Porter and The Monster's
            Cleanup Guy. Check out our comprehensive <a href="timeline.html">timeline here.</a><br /><br />
          </span>
        </div>
      </div>
    </div>
    <!-- end jumbotron -->

    <div class="jumbotron jum-back borderTop" style="background-image: url(images/testback2.png)">
      <div class="row">
        <div class="col-md-8 bottom-footer" style="color: #999 !important">
          Copyright 2017-2025 SnowyWorks. Designed by
          <a href="https://drewlenhart.com">Drew D. Lenhart</a> <br />
          <div id="digitalBox">
            <em>Website best viewed in a modern browser. You can view the
              source code at
              <a href="https://github.com/snowyworks/snowyworks.github.io" target="_blank">GitHub</a>.</em>
          </div>
        </div>
        <div class="col-md-4" style="color: #999 !important">
          <center>
            <img src="images/new_modern_snowyworks.png" alt="" class="centerMe" width="200" height="40" />
          </center>
        </div>
      </div>
    </div>
  </div>
  <!-- end container-->

  <!-- modal -->
  <div id="fsModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 id="modal-title-bar" class="modal-title">Loading....</h1>
        </div>
        <div class="modal-body" id="modal-body-content">
          <div id="modal-results"></div>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-primary">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="vendor/jquery-2.1.1.min.js"></script>
  <script src="vendor/bootstrap.min.js"></script>
  <script src="js/snowyworks-app.js?v=40"></script>
  <script>
    $(document).on("click", ".open-comicDialog", function () {
      let comicID = $(this).data("id");
      let title = $(this).data("title");
      let resultsDiv = $("#modal-results");

      resultsDiv.html("");

      $(".modal-header #modal-title-bar").html(title);

      $.get("comics/" + comicID + "-comic.html", function (data) {
        resultsDiv.html(data);
      })
        .done(function () {
        })
        .fail(function () {
          resultsDiv.html("<h2>Unable to find this issue!</h2>");
        })
        .always(function () {
        });
    });

    $(document).ready(function () {
      loadComicCatalog("comic-results", false, "loader");
    });
  </script>
</body>

</html>